.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }


  body {
      background-color:#fffffffb;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .profile-image {
    border-radius: 50%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .profile-card {
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 2.5rem;
  }

  .profile-section {
    margin-top:3rem;
  }

  .header {
      margin-top: 18rem;
  }
